.root {
    background-color: #e9f2f9;
    display: flex;
    flex-direction: column;
}

.header1 {
    padding-top: 50px;
    margin: 0px 0px 45px 55px;
    font-family: Arial, serif;
}

.header2 {
    padding-bottom: 50px;
}

.accountModal {
    display: flex;
    justify-content: flex-end;
    margin: 30px 45px 0px 0px;
}